@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap");
/*** COLORS ****/
/*** COLORS END ***/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*
  @include media('<=480px') {
    background-color: yellow;
  }
*/ }

.button {
  display: inline-block;
  padding: 11px 26px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.763;
  letter-spacing: -.12px;
  font-family: 'Public Sans', sans-serif; }
  .buttonPrimary {
    background-color: #ba4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    color: #FFFFFF;
    transition: all .5s ease-in-out; }
    .buttonPrimary:hover {
      background-color: #da6d97; }

.smallButton {
  display: inline-block;
  border: 1px solid #fbfcfe;
  color: #fbfcfe;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 16px 32px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.11px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 32px;
  transition: all .5s ease-in-out; }
  .smallButton:hover {
    background-color: #fbfcfe;
    color: #1b262f; }
  .smallButtonBasic {
    background-color: transparent;
    border: 1px solid #36536B;
    color: #36536B; }
    .smallButtonBasic--Contact {
      padding: 16px 50px;
      align-self: flex-start; }
    .smallButtonBasic:hover {
      background-color: #36536B;
      color: #fbfcfe; }

p, ul li a {
  font-family: 'Public Sans'; }

.h1Large {
  font-family: 'DM Serif Display', serif;
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.55; }
  .h1LargeSanJuanBlue {
    color: #36536B; }

.h1Medium {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.36px; }
  .h1MediumWhite {
    color: #fbfcfe; }
  .h1MediumSanJuanBlue {
    color: #36536B; }

.h2Large {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 5.6rem;
  line-height: 5.6rem;
  letter-spacing: -0.430769px;
  color: #36536B; }
  .h2LargeSanJuanBlue {
    color: #36536B; }
  .h2Large--About {
    max-width: 70rem; }

.paragraph {
  margin-top: 2.4rem;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.8rem;
  mix-blend-mode: normal; }
  .paragraphWhite {
    color: #fbfcfe; }
  .paragraphTransparent {
    opacity: 0.7; }
  .paragraphLightSanJuanBlue {
    color: #6C8294; }

.uContentWrapper {
  max-width: 1540px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .uContentWrapper {
      width: 100%;
      padding: 0;
      margin: 0;
      height: auto !important; } }
  .uContentWrapper--Narrow {
    width: 64%; }

.uEmail {
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
  width: 445px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #fbfcfe; }
  .uEmailHeaderMargin {
    /* - Margins that are used only in header - */
    margin-top: 4.2rem;
    margin-bottom: 1.6rem; }
  .uEmailTextField {
    border-radius: 24px;
    border: none;
    padding: 16.5px 0;
    position: relative;
    display: flex;
    flex-grow: 1;
    background-color: transparent;
    font-family: Public Sans;
    text-indent: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #36536B;
    mix-blend-mode: normal;
    line-height: 18px;
    cursor: pointer; }
    .uEmailTextField:focus {
      outline: none; }
    .uEmailTextField::-webkit-input-placeholder {
      opacity: 0.5;
      text-indent: 2.5rem; }

.uFixSimpleUI {
  max-width: 100%;
  max-height: 500px;
  transform: scale(1.25) translateX(3.5%) translateY(4%); }

.uMarginBottom--Large {
  margin-bottom: 10rem; }

.mainNavigation {
  width: 100%; }
  .mainNavigationWrapper {
    display: flex;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0; }
  .mainNavigationContent {
    display: flex;
    flex-direction: row; }
    .mainNavigationContent img {
      margin-right: 6.4rem; }
    .mainNavigationContent ul {
      display: flex;
      align-items: center;
      list-style-type: none; }
    .mainNavigationContent li {
      margin-right: 4rem; }
      .mainNavigationContent li a {
        text-decoration: none;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.7;
        font-family: "Public Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.8;
        transition: all .5s ease-in-out; }
        .mainNavigationContent li a:hover {
          opacity: 1; }

.footerNavigation {
  width: 100%;
  background-color: #1b262f; }
  .footerNavigationWrapper {
    display: flex;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0; }
  .footerNavigationContent {
    display: flex;
    flex-direction: row; }
    .footerNavigationContent img {
      margin-right: 6.4rem; }
    .footerNavigationContent ul {
      display: flex;
      align-items: center;
      list-style-type: none; }
    .footerNavigationContent li {
      margin-right: 4rem; }
      .footerNavigationContent li a {
        text-decoration: none;
        color: #fbfcfe;
        mix-blend-mode: normal;
        opacity: 0.7;
        font-family: "Public Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.8rem;
        transition: all .5s ease-in-out; }
        .footerNavigationContent li a:hover {
          opacity: 1; }
  .footerNavigationSocialWrapper a {
    margin-right: 2.4rem; }
    .footerNavigationSocialWrapper a svg {
      fill: #fbfcfe;
      transition: fill .5s ease; }
      .footerNavigationSocialWrapper a svg:hover {
        fill: #da6d97; }

.aboutHalves {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .aboutHalvesText {
    width: 50%;
    padding-right: 10rem;
    max-width: 576px; }
  .aboutHalvesImage {
    width: 50%;
    display: flex;
    padding-left: 5rem;
    flex: 1 1 0; }

.contentHalves {
  width: 100%;
  padding: 15rem 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .contentHalvesImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16.5rem; }
    .contentHalvesImageReverse {
      margin-right: 0; }
  .contentHalvesText {
    flex: 0 0 45%;
    padding-right: 9rem; }
    .contentHalvesTextReverse {
      margin-right: 10.5rem;
      padding-right: 6rem;
      max-width: 535px; }

.aboutLogos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 660px;
  min-width: 495px; }
  .aboutLogos img {
    margin-bottom: 4rem;
    margin-right: 4rem; }
    .aboutLogos img:nth-child(3), .aboutLogos img:nth-child(6) {
      margin-right: 0rem; }
    .aboutLogos img:nth-last-child(-n+3) {
      margin-bottom: 0; }

.homepageCardsWrapper {
  display: flex;
  padding: 5rem 0;
  justify-content: space-between; }

.homepageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem; }
  .homepageCard:last-child {
    padding-right: 0; }
  .homepageCard:first-child {
    padding-left: 0; }
  .homepageCard img {
    display: block;
    width: 106px;
    margin-bottom: 3.2rem; }
  .homepageCardContent {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homepageCardContent h3 {
      font-family: Public Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.5rem;
      text-align: center;
      letter-spacing: -0.138462px;
      color: #36536B;
      margin-bottom: 1.6rem; }
    .homepageCardContent p {
      font-family: Public Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      letter-spacing: -0.115385px;
      color: #6C8294; }

.startWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.startText h1 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.369231px;
  color: #36536B; }

.aboutInfoList {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 0; }
  .aboutInfoListItem {
    display: flex;
    padding: 2.5rem 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between; }
    .aboutInfoListItem:last-child {
      padding-bottom: 0; }
  .aboutInfoListTitle {
    max-width: 25.5rem;
    width: 34%;
    display: flex;
    align-items: center; }
    .aboutInfoListTitle h3 {
      font-family: 'DM Serif Display';
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height, or 125% */
      letter-spacing: -0.246154px;
      color: #36536B; }
  .aboutInfoListText {
    width: 66%; }
    .aboutInfoListText p {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 28px;
      /* or 187% */
      color: #6C8294; }

.aboutDataList {
  display: flex;
  justify-content: space-between; }

.aboutDataItem {
  width: 33%;
  display: flex;
  flex-direction: column;
  background-origin: red;
  padding: 1.6rem 0;
  margin-right: 3rem;
  border-top: 1px solid rgba(54, 83, 107, 0.25);
  border-bottom: 1px solid rgba(54, 83, 107, 0.25); }
  .aboutDataItem:last-child {
    margin-right: 0; }
  .aboutDataItem small {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.7; }
  .aboutDataItem span {
    display: block;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 72px;
    /* identical to box height, or 129% */
    letter-spacing: -0.430769px;
    color: #BA4270; }

.homepageHeader {
  width: 100%;
  background-color: #EDF3F8;
  background-image: url("../../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 20; }
  .homepageHeaderContentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 15rem 0; }
  .homepageHeaderContentText {
    width: 50%;
    max-width: 570px; }
    .homepageHeaderContentText p {
      font-family: Public Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.8;
      text-indent: 2.5rem;
      color: #36536B; }
      .homepageHeaderContentText p a {
        text-decoration: none;
        font-weight: bold;
        color: #36536B; }
  .homepageHeaderContentImage {
    width: 50%;
    display: flex;
    justify-content: flex-end; }
    .homepageHeaderContentImage img {
      position: absolute;
      top: 0;
      right: 0; }

.homepageAbout {
  width: 100%;
  background-color: #1b262f; }
  .homepageAboutWrapper {
    display: flex;
    flex-direction: row;
    align-items: center; }

.homepageUSP {
  background-color: #EDF3F8; }

.homepageUSPWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.homepageCards {
  width: 100%;
  background-color: #EDF3F8; }

.homepageStart {
  width: 100%;
  background-color: #EDF3F8;
  padding-top: .6rem;
  padding-bottom: 7.6rem; }

.pricingHeader {
  width: 100%;
  background-color: #EDF3F8;
  background-image: url("../../assets/shared/desktop/bg-pattern-circle-header.svg");
  background-repeat: no-repeat;
  background-position: top right -3%;
  /*
    &:before {
        position: absolute;
        content: url("../../assets/shared/desktop/bg-pattern-circle.svg");        
        top: -24vh;
        right: 6vw;
        z-index: 1;
        transform: rotate(90deg);

    } 
*/ }

.pricing {
  padding: 3rem 0; }
  .pricingWrapper {
    display: flex;
    margin-top: 7.2rem;
    justify-content: space-between; }
  .pricingLine {
    width: 100%;
    height: 1px;
    background-color: #36536B;
    mix-blend-mode: normal;
    opacity: .25;
    margin: 2.4rem 0; }
    .pricingLineBottom {
      margin-bottom: 0; }
  .pricingCard {
    width: 33%;
    max-width: 35rem; }
    .pricingCard h2 {
      font-family: 'DM Serif Display';
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.246154px;
      color: #BA4270;
      margin-bottom: 3rem; }
    .pricingCard p {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 2rem;
      color: #6C8294; }
    .pricingCard span {
      font-family: DM Serif Display;
      font-style: normal;
      font-weight: normal;
      font-size: 56px;
      line-height: 72px;
      /* identical to box height, or 129% */
      letter-spacing: -0.430769px;
      color: #36536B; }
    .pricingCard ul {
      list-style-type: none; }
      .pricingCard ul li {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        /* identical to box height, or 175% */
        text-indent: 3rem;
        color: #36536B;
        opacity: .5;
        margin-bottom: .8rem; }
        .pricingCard ul li:last-child {
          margin-bottom: 0; }
        .pricingCard ul li.included {
          opacity: 1;
          position: relative; }
          .pricingCard ul li.included::before {
            content: url("../../assets/shared/desktop/icon-check.svg");
            position: absolute;
            left: -3rem; }
  .pricingStart {
    width: 100%;
    background-color: #EDF3F8;
    padding-top: 4.6rem;
    padding-bottom: 7.6rem; }

.about {
  margin-top: 6rem;
  position: relative; }
  .aboutImage {
    position: relative;
    padding: 10rem 0;
    z-index: 10; }
    .aboutImage img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      z-index: 20; }
    .aboutImage::after {
      content: url(../../assets/shared/desktop/bg-pattern-circle.svg);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: -1; }

.contact {
  margin-top: 6rem;
  position: relative; }
  .contactContent {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: row; }
  .contactForm {
    width: 39%; }
    .contactFormGroup {
      display: flex;
      width: 100%;
      flex-direction: column; }
      .contactFormGroup:last-child {
        margin-bottom: 0; }
      .contactFormGroup--Minimal {
        min-height: 24px; }
      .contactFormGroup input {
        height: 4.2rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(54, 83, 107, 0.25);
        background-color: #EDF3F8;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.115385px;
        color: #36536B; }
        .contactFormGroup input::placeholder {
          font-family: Public Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 25px;
          letter-spacing: -0.115385px;
          color: #36536B;
          mix-blend-mode: normal;
          opacity: 0.5; }
        .contactFormGroup input:focus {
          outline: none; }
        .contactFormGroup input:not(:placeholder-shown):invalid {
          border-bottom: 1px solid #FF0000;
          opacity: .5;
          color: #FF0000; }
      .contactFormGroup input:focus + .contactFormGroupError {
        color: blue; }
    .contactFormCheckboxWrapper {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .contactFormCheckboxLabel {
      display: block;
      position: relative;
      cursor: pointer;
      min-width: 24px;
      min-height: 24px;
      margin-right: 26px; }
    .contactFormCheckboxInput {
      position: absolute;
      display: none; }
    .contactFormCheckboxButton {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: #36536B;
      opacity: .25; }
    .contactFormCheckboxText {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: -0.115385px;
      color: #36536B; }
    .contactFormError {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: -0.0846154px;
      color: #FF0000;
      mix-blend-mode: normal;
      opacity: 0.5;
      margin-top: 1rem;
      visibility: hidden; }

.contactFormCheckboxLabel input:checked ~ .contactFormCheckboxButton {
  background-color: #ba4270;
  opacity: 1; }
  .contactFormCheckboxLabel input:checked ~ .contactFormCheckboxButton:after {
    content: url("../../assets/shared/desktop/checkmark.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
