.button {

    display: inline-block;
    padding: 11px 26px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.763;
    letter-spacing: -.12px;
    font-family: 'Public Sans', sans-serif;

    &Primary {
        background-color: $darkPink;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        color: $colorWhite;
        transition: all .5s ease-in-out;
        position: relative;

        &:hover {
            background-color: $charmPink;
        }

    }

    &Navigation {
        margin-left: auto;

        @include respond(phone){
            display: none;
        }

    }

    &Secondary {


    }

}


.smallButton {
    display: inline-block;
    border: 1px solid $waterWhite;
    color: $waterWhite;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 16px 32px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.11px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 32px;
    transition: all .5s ease-in-out;


    &:hover {
        background-color: $waterWhite;
        color: $mirageBlue;
    }

    &Basic {
        background-color: transparent;
        border: 1px solid $sanJuanBlue;
        color: $sanJuanBlue;

        &--Contact{
            padding: 16px 50px;
            align-self: flex-start;
        }
        
        
        &:hover {
            background-color: $sanJuanBlue;
            color: $waterWhite;
        }

    }




}