
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

p, ul li a {
    font-family: 'Public Sans';
}

.h1Large {
    font-family: "DM Serif Display",serif;
    font-size: 7.2rem; // TODO CHECK THIS
    line-height: 7.2rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.55;

    &SanJuanBlue {
        color: $sanJuanBlue;
    }

}

.h1Medium {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.36px;

    &White {
        color: $waterWhite;
    }

    &SanJuanBlue{
        color: $sanJuanBlue;
    }
}

.h2Large {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 5.6rem;
    line-height: 5.6rem;  
    letter-spacing: -0.430769px;    
    color: #36536B; 

    &SanJuanBlue {
        color: $sanJuanBlue;  
    }

    &--About {
        max-width: 70rem;
    }
}


.headingTertiary {

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;            
    letter-spacing: -0.246154px;            
    margin-bottom: 3rem;

    &--DarkPink {
        color: $darkPink;
    }

    &--SanJuanBlue {
        color: $sanJuanBlue;
    }

}



.paragraph {
    margin-top: 2.4rem; // TODO check if this should be here!!!
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.8rem;
    mix-blend-mode: normal;


    &White {
        color: $waterWhite;
    }

    &Transparent {
        opacity: 0.7;
    }

    &LightSanJuanBlue{
        color: $lightSanJuanBlue;
    } 

}
    

