.uContentWrapper {
    max-width: 1540px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  
    @include respond(tab-port) {
      width: 100%;
      padding: 0;
      margin: 0;    
      height: auto !important;
    }
  }



.uEmail {
    
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    border: none;
    width: 445px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $waterWhite;

    &HeaderMargin {
        /* - Margins that are used only in header - */
        margin-top: 4.2rem;
        margin-bottom: 1.6rem;
    }

    &TextField {
        
        border-radius: 24px;
        border: none;
        padding: 16.5px 0;
        position: relative;
        display: flex;
        flex-grow: 1;
        background-color: transparent;
        font-family: Public Sans;
        text-indent: 2.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $sanJuanBlue;
        mix-blend-mode: normal;
        line-height: 18px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        
        &::-webkit-input-placeholder{ 
            opacity: 0.5;
            text-indent: 2.5rem;
        }

    }

}


// TODO create new image and remove this code
.uFixSimpleUI {
    max-width: 100%;
    max-height: 500px;
    transform: scale(1.25) translateX(3.5%) translateY(4%);
}






