.contentHalves {

    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &Text {
        width:50%;
        padding-right: 10rem;

        &Reverse {
            
        }

    }

    &Image {
        width: 50%;
        display: flex;
        padding-left: 5rem;
        max-width: 580px;


        &Reverse {
            margin-right: 10%;
        }

    }
}