.contentHalves {

    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &Text {
        width:40%;
        
        
        & p {
            margin-top: 24px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            color: $waterWhite;
            mix-blend-mode: normal;
            opacity: 0.7;
        }
    }

    &Image {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        &Wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            & img {

                margin-bottom: 4rem;
                margin-right: 4rem; 

                &:nth-child(3), &:nth-child(6){
                    margin-right: 0rem;
                }

                &:nth-child(1), &:nth-child(4){
                    margin-left: 4rem;
                }
            }

        }

    }


}