.about {
    margin-top: 6rem;
    position: relative;

    &Image {
        position: relative;
        padding: 10rem 0;
        z-index: 10;


        & img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            z-index: 20;
        }

        &::after {
            content: url(../../assets/shared/desktop/bg-pattern-circle.svg);
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            left: 0;
            z-index: -1;
            
        }




    }


}