.contact {
    margin-top: 6rem;
    position: relative;

    &Content {
        width: 100%;
        padding: 4rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &Form {
        width: 40%;
        margin-right: 12.5rem;
  
        &Group {
            //margin-bottom: 2.4rem;
            display: flex;
            width: 100%;
            flex-direction: column;

            &:last-child{
                margin-bottom: 0;
            }

            &--Minimal {
                min-height: 24px;
            }

            & input, & textarea {
                height: 4.2rem;
                width: 100%;
                border: none;
                border-bottom: 1px solid rgba(54, 83, 107, .25);
                background-color: $colorGrey;                

                font-family: 'Public Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: -0.115385px;
                color: $sanJuanBlue;
                opacity: 1;


                &::placeholder {
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: -0.115385px;
                    color: #36536B;
                    mix-blend-mode: normal;
                    opacity: 0.5;

                }

                &:focus {
                    outline: none;
                }    

                &:invalid:focus:not(:placeholder-shown), &:focus:invalid:empty {
                    border-bottom: 1px solid $colorErrorRed;
                    opacity: .5;
                    color: $colorErrorRed;

                    & ~ .contactFormError {
                        opacity: 1;
                        
                      }

                }              


            }



            & input:focus &Error {
                color: blue; //Check this
            }

            & textarea {
                resize:none;
                height: 9rem;

            }



        }

        &Checkbox {
            
            &Wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
            }


            &Label {
                display: block;
                position: relative;
                cursor: pointer;
                min-width: 24px;
                min-height: 24px;
                margin-right: 26px;

            }

            &Input {
                position: absolute;
                display: none;
            }

            &Button {
                position: absolute;
                top: 0;
                left: 0;
                height: 24px;
                width: 24px;
                background-color: $sanJuanBlue;
                opacity: .25;      

            }

            &Text {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: -0.115385px;
                color: $sanJuanBlue;
            }


        }// ovo nece raditi treba napravit nešto sa ::after ili before

        &Error {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: -0.0846154px;
            color: $colorErrorRed;
            mix-blend-mode: normal;
            opacity: 0.5;
            margin-top: 1rem;
            opacity: 0;            
            
        }

    }

    &Investors {

        display: flex;
        flex-direction: column;

        &TextWrapper {
            max-width: 445px;

            & h3 {
                font-family: 'DM Serif Display';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.184615px;
                color: #36536B;
                mix-blend-mode: normal;
                opacity: 0.75;                
            }
        }

        &PartnersWrapper {
            margin-top: 4rem;
            max-width: 541px;
        }



    }


}

.contactFormCheckboxLabel input:checked ~ .contactFormCheckboxButton {
    background-color: $darkPink;
    opacity: 1;
    
    &:after {
        content: url('../../assets/shared/desktop/checkmark.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

  }