.homepageHeader {
    width: 100%;
    background-color: $colorGrey;

    background-image: url("../../assets/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 20;

    &Content{

        &Wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &Text {
            width: 50%;

            & p {
                font-family: Public Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1.5rem;
                line-height: 1.8;
                text-indent: 2.5rem;
                color: $sanJuanBlue;

                & a{
                    text-decoration: none;
                    font-weight: bold;
                    color: $sanJuanBlue;
                }
            }

        }

        &Image {
            width:50%;
            display: flex;
            justify-content: flex-end;
        }

    }

}

.homepageAbout {
    width: 100%;
    background-color: $mirageBlue;

    &Wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

