.homepageHeader {
    width: 100%;
    background-color: $colorGrey;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    

    &:before {

        content: url("../../assets/home/desktop/homepage-header-grey-halfcircle-big-desktop.svg");        
        position: absolute;
        top: -152px;
        right: -5vw;
        z-index: 0;

        @include respond(phone) {
            top: -38%;
            right: -25%;
        }

    }

    &Content{

        &Wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -40px;

            @include respond(phone){
                flex-direction: column-reverse;
            }

        }

        &Text {
            flex: 0 0 50%;

            & p {
                font-family: Public Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1.5rem;
                line-height: 1.8;
                text-indent: 2.5rem;
                color: $sanJuanBlue;

                & a{
                    text-decoration: none;
                    font-weight: bold;
                    color: $sanJuanBlue;
                }
            }

        }

        &Image {
            width:50%;
            display: flex;
            justify-content: flex-end;

            & img {

            }
        }

    }

}


.homepageAbout {
    width: 100%;
    background-color: $mirageBlue;

    &Wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.homepageUSP {
    background-color: $colorGrey;
}

.homepageUSPWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.homepageCards {
    width: 100%;
    background-color: $colorGrey;
}


.homepageStart {
    width: 100%;
    background-color: $colorGrey;
    padding-top: .6rem;
    padding-bottom: 7.6rem;
}