.homepageHeader {
    width: 100%;
    background-color: $colorGrey;

    background-image: url("../../assets/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 20;

    &Content{

        &Wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            padding: 15rem 0;
        }

        &Text {
            width: 50%;
            max-width: 570px; //TODO CHECK THIS

            & p {
                font-family: Public Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1.5rem;
                line-height: 1.8;
                text-indent: 2.5rem;
                color: $sanJuanBlue;

                & a{
                    text-decoration: none;
                    font-weight: bold;
                    color: $sanJuanBlue;
                }
            }

        }

        &Image {
            width:50%;
            display: flex;
            justify-content: flex-end;

            & img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

    }

}


.homepageAbout {
    width: 100%;
    background-color: $mirageBlue;

    &Wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

.homepageUSP {
    background-color: $colorGrey;
}

.homepageUSPWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.homepageCards {
    width: 100%;
    background-color: $colorGrey;
}


.homepageStart {
    width: 100%;
    background-color: $colorGrey;
    padding-top: .6rem;
    padding-bottom: 7.6rem;
}