.pricingHeader {
    width: 100%;
    background-color: $colorGrey;

    &:before {
        position: absolute;
        content: url("../../assets/shared/desktop/bg-pattern-circle.svg");        
        top: -38vh;
        right: 0vw;
        z-index: 1;

    } 


}

.pricing {

    padding: 3rem 0;

    &Wrapper {
        display: flex;
        margin-top: 7.2rem;
        justify-content: space-between;
    }

    &Line {
       width: 100%;
       height: 1px;
       background-color: $sanJuanBlue;
       mix-blend-mode: normal;
       opacity: .25;
       margin: 2.4rem 0;

        &Bottom {
            margin-bottom: 0;
        }

    }

    &Card {

        width: 33%;
        max-width: 35rem;

        & h2 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 40px;            
            letter-spacing: -0.246154px;            
            color: #BA4270; 
            margin-bottom: 3rem;
        }

        & p{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 2rem;


            color: #6C8294;
        }

        & span {
            font-family: DM Serif Display;
            font-style: normal;
            font-weight: normal;
            font-size: 56px;
            line-height: 72px;
            /* identical to box height, or 129% */

            letter-spacing: -0.430769px;

            color: #36536B;
        }

        & ul {

            list-style-type: none;

            & li {

                font-family: 'Public Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                /* identical to box height, or 175% */
                text-indent: 3rem;
                color: #36536B;
                opacity: .5;
                margin-bottom: .8rem;

                &:last-child{
                    margin-bottom: 0;
                }
                

                &.included {
                    opacity: 1;
                    position: relative;

                    &::before {
                        content: url('../../assets/shared/desktop/icon-check.svg');
                        position: absolute;
                        left: -3rem;
                    }
                }  

            }

        }
    }

    &Start {   
        width: 100%;
        background-color: $colorGrey;
        padding-top: 4.6rem;
        padding-bottom: 7.6rem;
    }

}
